<h1 class="heading">Create a New Recipe</h1>

<%= form_with(model: @recipe, class:"new_recipe_form", url: recipes_path) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :preparation_time %><br>
    <%= form.number_field :preparation_time, step: 1, min: 0 %>
    minutes
  </div>

  <div>
    <%= form.label :cooking_time %><br>
    <%= form.number_field :cooking_time, step: 1, min: 0 %>
    minutes
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="create_recipe_btn">
    <%= form.submit %>
  </div>
<% end %>
